body{
	padding: 0px;
	margin-left: 0px;
}

#head{
	position: sticky;
	top:0;
	right: 0;
	z-index: 9999;
}
#nav{
	padding-right: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(91, 3, 3);
	
}

#nav #title{
	display: flex;
	font-size: 1.5rem;
	margin:1rem;
	font-weight: bold;
}

#nav ul{
	display: flex;
}

#nav ul li a{
   display:block;
	padding: 8px;
	margin: 0 8px;
	border-radius: 50px;
}

#nav #menu{
	display: none;
	position: absolute;
	top:12px;
	right: 8px;
	flex-direction: column;
	justify-content: space-between;
	width:36px;
	height: 32px;
}

#nav #menu span{
	height: 6px;
	width:100%;
	background-color: rgb(255, 239, 174);
	border-radius: 2px;
}

#login, #signup{
	box-shadow: 5px 25px 50px 12px rgb(0 0 0 / 0.25);
}
#cart_mobile{
	display: none;
}

#background{
   background:url('https://abrakadabra.fun/uploads/posts/2022-01/1643543508_6-abrakadabra-fun-p-meditsina-oboi-na-telefon-6.jpg');
	background-repeat: no-repeat;
   background-position: 0 0;
   background-attachment:fixed;
	background-size:cover;
}
#backgroundInfo, #backgroundUser, #loginContainer, #signupContainer{
	background:url('https://abrakadabra.fun/uploads/posts/2022-01/1643543508_6-abrakadabra-fun-p-meditsina-oboi-na-telefon-6.jpg');
	background-repeat: no-repeat;
   background-position: 0 0;
   background-attachment:fixed;
	background-size:auto;

}

#cards{

	display: grid;
	height: 500px;
	grid-template: repeat(3,150px) / repeat(3,300px);
	justify-content: space-around;
	gap:15px;
	align-content: space-around;

	
		
}
#cards #card{
   opacity:90%;
	background-color:rgba(150, 12, 249, 0.945);
	border: 1px solid #ece89d;
	padding: 10px;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	border-radius: 10px;
	}


@media(max-width:1211px){
    #nav{
		flex-direction: column;
	 }
	 
	 #search{
		position: relative;
	 }
	 #dropdown{
		position: absolute;
		top: 104px;
	}	
}

@media(max-width:992px){
	#cards{
		grid-template: repeat(5,150px) / repeat(2,300px);
		height: 100%;
		gap:10px;

	
	
	}
	#form,#forms{
		width: 200px;
	}
	
	#nav #menu{
		display: flex;
	}

	#nav{
		flex-direction: column;
		align-items: center;	
	}

	#nav ul{
		/* display:none; */
		flex-direction: column;
		width: 100%;
		margin-bottom: 4px;	
		animation: burgerAnimation 1s;	
	}

	#nav ul li{
		width: 100%;
		align-items: center;
		font-weight: bold;
		font-size: 20px;
	}  

	#nav #show{
		display:none;
	}

	#nav #close{
		display:flex;
		transition: 0.5s;
		animation: burgerAnimation 1s;
	}

	#nav ul li a{
		margin: 5px 10px;
	}

 	#login,#signup{
		width: 80%;
	}

	#search{
	   height: 25px;
		margin: auto;
		width: 200px;
		height: 30px;
		
	}
	#search_box{
		position: relative;
		width:fit-content;
		margin: auto;
	  


	 }
   #dropdown{   
		position: absolute;
		margin: auto;
		top:45px;
		z-index:999;	
	}

	#search_input{
		margin-bottom: 3px;
		width: 186px;
		color: rgb(61, 10, 10);

	}

	#search img{
		margin-top: 3px;
	}

	#cart_icon{
		margin-right: 55px;
		margin-top:8px;
	}
	#cart{
		display: none;
	}
	#menu{
		margin-top:8px;
		
	}
	#cart_mobile{
		display: block;
	}
	#authForm{
		width:80%;
	}

}
@media(max-width:650px){
	#cards{
		grid-template: repeat(9,100px) / repeat(1,500px);
		height: 100%;
		gap:5px;
		
	}
	#cards #card{
		font-size:x-large;
	}
	#authForm{
		font-size: 20px;
	}
	#authInfo{
		display: flex;
		flex-direction:column;
		align-items: center;
	}
	
}

@media(max-width:340px){
   #cart_mobile{
		display: none;
	}
	#cart{
		display: block;
	}
}


@keyframes burgerAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes burgerAnimationS {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.9;
	}
}
